In [3]:
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df.groupby('Team')

In [40]:
# import the pandas library
import pandas as pd
count=0
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders',"awe","wrf","qrqg"],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2,4,5,6],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017,2022,2022,2022],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690,'NA',344,141]}
df = pd.DataFrame(ipl_data)
print(df)
print("-----------------------------")
df_2=df.drop(['Team'],axis=1)
grouped = df_2.groupby('Year')
print(df_2)
print("-----------------------------")
for name,group in grouped:
    if grouped.Year==2014:
        count=count+1;
    print(group)
        
   # print(name)
df_3=grouped.get_group(2022)

      Team  Rank  Year Points
0   Riders     1  2014    876
1   Riders     2  2015    789
2   Devils     2  2014    863
3   Devils     3  2015    673
4    Kings     3  2014    741
5    kings     4  2015    812
6    Kings     1  2016    756
7    Kings     1  2017    788
8   Riders     2  2016    694
9   Royals     4  2014    701
10  Royals     1  2015    804
11  Riders     2  2017    690
12     awe     4  2022     NA
13     wrf     5  2022    344
14    qrqg     6  2022    141
-----------------------------
    Rank  Year Points
0      1  2014    876
1      2  2015    789
2      2  2014    863
3      3  2015    673
4      3  2014    741
5      4  2015    812
6      1  2016    756
7      1  2017    788
8      2  2016    694
9      4  2014    701
10     1  2015    804
11     2  2017    690
12     4  2022     NA
13     5  2022    344
14     6  2022    141
-----------------------------
   Rank  Year Points
0     1  2014    876
2     2  2014    863
4     3  2014    741
9     4  2014    701
    Rank  Year Points
1      2  2015    789
3      3  2015    673
5      4  2015    812
10     1  2015    804
   Rank  Year Points
6     1  2016    756
8     2  2016    694
    Rank  Year Points
7      1  2017    788
11     2  2017    690
    Rank  Year Points
12     4  2022     NA
13     5  2022    344
14     6  2022    141

In [41]:
df_3

    Rank  Year Points
12     4  2022     NA
13     5  2022    344
14     6  2022    141

In [42]:
df_3.mean(axis=1)

12    1013.0
13    1013.5
14    1014.0
dtype: float64

In [43]:
df_3.mean(axis=0)

Rank       5.0
Year    2022.0
dtype: float64